extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href="/") Home
  br
  a(href="/users") /users
  br
  a(href='/chat') /chat
  br
  a(href='/chat/R1') /chat/:room
  br
  a(href="/multifileupload.html") /upload
  br